/* YourComponent.css */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: linear-gradient(90deg, pink, peachpuff, pink); /* Add your preferred background color */
  }
  
  .main-heading {
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: 0rem 0rem 1 palevioletred; 
    color: whitesmoke; /* Add your preferred text color */
    -webkit-text-stroke: 1.2px palegoldenrod; /* Webkit browsers */
  }
  
  .addButton {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: white; 
    color: orange; 
    border: pink;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: white; 
      color: pink;
      border:palevioletred;
    }
  }
  